<center>

    <title>Invaild or no params</title>

    <h2>Invaild or No Params</h2>

    <h3>To run a program or proccess:</h3>
    <h3><code> <%- url %><%- program_example %> </code></h3>
    <h4><code> - Replace <%- program_example %> with the program name that you want to run </code></h4>


    <h2> - OR -</h2>


    <h3>To stop a program or proccess:</h3>
    <h3><code> <%- stopurl %><%- program_example %> </code></h3>
    <h4><code> - Replace <%- program_example %> with the program name that you want to stop </code></h4>


    <h2> - OR -</h2>

    
    <h3>To force stop a program or proccess (requires the program to run with administrator permissions on the windows host):</h3>
    <h3><code> <%- forcekillurl %><%- program_example %> </code></h3>
    <h4><code> - Replace <%- program_example %> with the program name that you want to force stop </code></h4>


</center>